@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');

:root {
    --color: rgb(45, 188, 255);
}

*{
    
    font-family: 'Exo',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,input{
    font-family: 'Jura',sans-serif;
}
input{
    border-radius: 10px;

}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
 
    overflow: hidden;
}
.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background:url(./images/bg.png);
    background-position: center;
    background-size: contain;
    top: -10%;
    right: 48%;
    transform: translateY(-30%);
    z-index: 6;
    transition: 1.5s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50% , -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}




form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    transition: 0.2s 0.7s ease-in-out;
}
form.sign-in-form{
    z-index: 2;

}
form.sign-up-form{
    z-index: 1;
    opacity: 0;

}



.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}


.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}
.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.btn{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: crimson;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.7s;
}



.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}
.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}


.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    font-family: 'Jura' , sans-serif;
    color:crimson;
    transition: .9s .6s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 3rem;
    font-family: 'Exo',sans-serif;
    
}
.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}
.btn.transparent{
    margin: 0;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.5s ease;
}
.btn.transparent:hover{
    transform: scale(1.25);
}


.image{
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

/*lets animate*/
.container.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content, .container.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}

.container.sign-up-mode .left-panel{
    pointer-events: none;
}
.container.sign-up-mode .right-panel{
    pointer-events: all;
}
.container.sign-up-mode .signin-signup{
    left: 25%;
}
.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form{
    z-index: 2;
   opacity: 1;
}
*{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
body{
    padding: 5px;
    background: url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.image-holder img{
    width: 200px;
    height: 100px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
	border-radius: 20px;
}
.buttons .start{
	border-radius: 20px;
}
.buttons .reset{
	border-radius: 20px;
}

.buttons button{
    cursor: pointer;
    border: groove;
    border-color: black;
	transition: all 0.3s ease-in-out;
	border-radius: 20px;
}
.buttons button:hover{
    background-color: crimson;
	transform: scale(1.15);
}

body{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	text-align: center;
	
}



.board{
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    background-color: rgb(245, 202, 245);
	display: flex;
	flex-wrap: wrap;
	border: 10px solid black;
	opacity: 0.8;
	max-width: 480px;
	max-height: 480px;
	width: 100vw;
	height: 100vw;
	box-shadow: 0 10px 10px -5px rgba(0,0,0,.75);
	font-size: 0;
}

.tile{
	width: 12.5%;
	height: 12.5%;
	font-size: 8vw;
	line-height: 12vw;
    cursor: pointer;
    transition: all 0.4s ease;
	font-weight: bolder;
}
.tile:hover{
    transform: scale(1.62);
}

footer{
    background: #111;
    padding: 5px 13px;
    color: #fff;
	font-family: monospace;
	font-size: 15px;
}
footer span {
    color: goldenrod;
    text-decoration: none;
	font-size: 15px;
}
footer #red{
	color: crimson;
}

footer span a:hover{
    text-decoration: underline;
}





.tile:nth-child(n+1):nth-child(-n+16){
	color: #222;
}

.board .tile:nth-child(n+1):nth-child(-n+8):nth-child(even),
.board .tile:nth-child(n+17):nth-child(-n+25):nth-child(even),
.board .tile:nth-child(n+33):nth-child(-n+40):nth-child(even),
.board .tile:nth-child(n+49):nth-child(-n+56):nth-child(even),
.board .tile:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.board .tile:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.board .tile:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.board .tile:nth-child(n+57):nth-child(-n+64):nth-child(odd){
	background-color: rgba(435,50,0,.5);
}

@media screen and (min-width: 480px){
	.board{
		border: 10px solid black;
		box-shadow: 0 15px 15px -5px rgba(0,0,0,.75);
	}
	.tile{
		font-size: 2.5rem;
		line-height: 56px;
    }
	
}



/*responsive media*/
@media (max-width: 870px){
    .container{
        min-height: 800px;
        height: 100vh;
    }
    .container:before{
        width: 1500px;
        height: 1500px;     
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panels-container{
       
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }
    .panel .content{
        padding-right: 15%;
        padding-top: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }
    
    .panel h3{
        font-size: 1.2rem;
    }
    .panel p{
        font-size: 0.7rem;
        padding-right: 0.5rem 0;
    }
    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;

    }

    .image{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }
    .left-panel{
        grid-row: 1 / 2;
    }

    .right-panel{
        grid-row: 3 / 4;
    }
    .right-panel .content, .right-panel .image{
        transform: translatey(350px);
    }

    .container.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .container.sign-up-mode .left-panel .image,  .container.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }
    .container.sign-up-mode .signin-signup{
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}

@media (max-width: 570px){
    form{
        padding: 0 1.5rem;
    }
    .image{
        display: none;
    }
    .panel .content{
        padding: 0.5rem 1rem;
    }
    .container:before{
        bottom: 72%;
        left: 50%;
    }
    .container.sign-up-mode:before{
        bottom: 28%;
        left: 50%;
    }
}

