@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 10px;
    font-family: 'Gruppo',sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 800;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .9rem;
    font-weight: 800;
    text-align: center;
}
.section-title span{
    color: goldenrod;
}



/*home Section Styling*/
#home{
    background-image: url(https://kaiixer099.github.io/sampleprojects/PersonalPortfolio/img/joey1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    transition: 3s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(https://kaiixer099.github.io/sampleprojects/PersonalPortfolio/img/joey1.jpg);
    }
    50%{
        background-image: url(https://kaiixer099.github.io/sampleprojects/PersonalPortfolio/img/joey2.jpg);
    }
    100%{
        background-image: url(https://kaiixer099.github.io/sampleprojects/PersonalPortfolio/img/joey3.jpg);
    }
}


#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

#home .home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: textreveal .5s ease forwards;
    animation-delay: 1s;
}
#home h1:nth-child(1){
    letter-spacing: 5px;
    animation-delay: 1s;
}
#home h1:nth-child(2){
    letter-spacing: 5px;
    animation-delay: 2s;
}
#home h1:nth-child(3){
    letter-spacing: 10px;
    animation: textreveal_name .5s ease forwards;
    animation-delay: 3s;
}
#home h1:nth-child(4){
    letter-spacing: 5px;
    animation-delay: 4s;
}
#home h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background:linear-gradient(to right, crimson,goldenrod);
    animation: textrevealbox 1s ease;
    animation-delay: 1s;
}
#home h1:nth-child(1) span{
    animation-delay: .5s;
}
#home h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#home h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#home h1:nth-child(4) span{
    animation-delay: 3.5s;
}


.button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.button-container a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    border: 2px solid goldenrod;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 5px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}
.button-container a:hover{
    transition-delay: 0.3s;
    color: #000;
    box-shadow: 0 0 10px goldenrod,
                0 0 20px goldenrod,
                0 0 40px goldenrod,
                0 0 80px goldenrod;
}
.button-container a span{
    position: relative;
    z-index: 100;
}

.button-container a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background:goldenrod;
    box-shadow: 5px -8px 0 goldenrod,
                5px 8px 0 goldenrod;
    transition: width 0.3s, left 0.3s, height 0.3s, box-shadow 0.3s;
    transition-delay: 0.5s, 0.3s, 0s,0s;
}
.button-container a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 goldenrod,
                5px 0 0 goldenrod;
    transition-delay: 0s, 0.3s, 0.3s, 0.3s;
}


.button-container a::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background:goldenrod;
    box-shadow: -5px -8px 0 goldenrod,
                -5px 8px 0 goldenrod;
    transition: width 0.3s, left 0.3s, height 0.3s, box-shadow 0.3s;
    transition-delay: 0.5s, 0.3s, 0s,0s;
}
.button-container a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 goldenrod,
                -5px 0 0 goldenrod;
    transition-delay: 0s, 0.3s, 0.3s, 0.3s;
}

/*home section end style*/



/*Service Setion style start*/

#service{
    background: linear-gradient(-120deg, transparent , goldenrod);
}
#service .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#service .service-top p{
    color: black;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2rem;
    font-weight: 800;
    letter-spacing: .05rem;
}
#service .service-bottom{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#service .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
    padding: 30px;
    border-radius: 10px;
    background-image: url(https://kaiixer099.github.io/sampleprojects/PersonalPortfolio/img/webdesign.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s ease;
}
#service .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.8;
    z-index: -1;
}
#service .service-item:hover{
    transform: scale(1.05);
}
#service .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#service .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 8px;
    text-transform: uppercase;
    justify-content: left;
}
#service .service-item:hover span{
    opacity: 1;
}
#service .service-item span{
    transition: 0.5s;
    opacity: 0;
}

#service .service-item span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, goldenrod);
    box-shadow: 0 0 10px goldenrod,
                0 0 20px goldenrod,
                0 0 40px goldenrod,
                0 0 80px goldenrod;
    animation: animate1 0.5s linear infinite;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#service .service-item span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, transparent,goldenrod);
    box-shadow: 0 0 10px goldenrod,
                0 0 20px goldenrod,
                0 0 40px goldenrod,
                0 0 80px goldenrod;
    animation: animate2 0.5s linear infinite;
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
#service .service-item span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, transparent,goldenrod);
    box-shadow: 0 0 10px goldenrod,
                0 0 20px goldenrod,
                0 0 40px goldenrod,
                0 0 80px goldenrod;
    animation: animate3 0.5s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#service .service-item span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, transparent,goldenrod);
    box-shadow: 0 0 10px goldenrod,
                0 0 20px goldenrod,
                0 0 40px goldenrod,
                0 0 80px goldenrod;
    animation: animate4 0.5s linear infinite;
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/*Service Setion style end*/

/* project section */
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects p{
    color: #000;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 65%);
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, transparent, goldenrod);
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 600;
}
#projects .project-info h2{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 10px;
    text-shadow: 0 0 10px black,
    0 0 20px black,
    0 0 40px gold,
    0 0 80px gold,
    0 0 100px black;
}
#projects .project-img{
    flex-basis: 50%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
#projects .project-img img{
    object-fit: contain;
    transition: .3s ease transform;
}
#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
#projects .project-item:hover .project-img::after {
    opacity: 0;
}


/* project section end */


















/*Keyframes*/
@keyframes textrevealbox{
    50%{
        width: 120%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes textreveal{
    100%{
        color: white;
    }
}
@keyframes textreveal_name{
    100%{
        color: goldenrod;
        font-weight: 500;
        text-shadow: 0 0 10px goldenrod,
                    0 0 20px goldenrod,
                    0 0 40px goldenrod,
                    0 0 80px goldenrod,
                    0 0 100px goldenrod;
        font-weight: 800;
    }
}


/*end of keyframes*/







































/*Animation Sections*/

@keyframes menus{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}