@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Bangers',sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}


/*home Section Styling*/
#home{
    background-image: url(https://kaiixer099.github.io/sampleprojects/PersonalPortfolio/img/joey1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

#home .home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: textreveal .5s ease forwards;
    animation-delay: 1s;
}
#home h1:nth-child(1){
    letter-spacing: 5px;
    animation-delay: 1s;
}
#home h1:nth-child(2){
    letter-spacing: 5px;
    animation-delay: 2s;
}
#home h1:nth-child(3){
    letter-spacing: 10px;
    animation: textreveal_name .5s ease forwards;
    animation-delay: 3s;
}
#home h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background:linear-gradient(to right, crimson,goldenrod);
    animation: textrevealbox 1s ease;
    animation-delay: 1s;
}
#home h1:nth-child(1) span{
    animation-delay: .5s;
}
#home h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#home h1:nth-child(3) span{
    animation-delay: 2.5s;
}


.button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.button-container a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    border: 2px solid goldenrod;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 5px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}
.button-container a:hover{
    transition-delay: 0.3s;
    color: #000;
    box-shadow: 0 0 10px goldenrod,
                0 0 20px goldenrod,
                0 0 40px goldenrod,
                0 0 80px goldenrod;
}
.button-container a span{
    position: relative;
    z-index: 100;
}

.button-container a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background:goldenrod;
    box-shadow: 5px -8px 0 goldenrod,
                5px 8px 0 goldenrod;
    transition: width 0.3s, left 0.3s, height 0.3s, box-shadow 0.3s;
    transition-delay: 0.5s, 0.3s, 0s,0s;
}
.button-container a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 goldenrod,
                5px 0 0 goldenrod;
    transition-delay: 0s, 0.3s, 0.3s, 0.3s;
}


.button-container a::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background:goldenrod;
    box-shadow: -5px -8px 0 goldenrod,
                -5px 8px 0 goldenrod;
    transition: width 0.3s, left 0.3s, height 0.3s, box-shadow 0.3s;
    transition-delay: 0.5s, 0.3s, 0s,0s;
}
.button-container a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 goldenrod,
                -5px 0 0 goldenrod;
    transition-delay: 0s, 0.3s, 0.3s, 0.3s;
}

/*home section end style*/



/*Service Setion style start*/

#service{}
#service .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#service .section-title{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .9rem;
    text-align: center;
}
#service .section-title span{
    color: goldenrod;
}
#service .service-top p{
    color: black;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#service .service-bottom{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#service .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(/img/webdesign.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#service .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.8;
    z-index: -1;
}
#service .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#service .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 8px;
    text-transform: uppercase;
}


/*Service Setion style end*/



















/*Keyframes*/
@keyframes textrevealbox{
    50%{
        width: 120%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes textreveal{
    100%{
        color: white;
    }
}
@keyframes textreveal_name{
    100%{
        color: goldenrod;
        font-weight: 500;
        text-shadow: 0 0 10px goldenrod,
                    0 0 20px goldenrod,
                    0 0 40px goldenrod,
                    0 0 80px goldenrod,
                    0 0 100px goldenrod;
    }
}


/*end of keyframes*/







































/*Animation Sections*/

@keyframes menus{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}